//Profile config names for nf-core/configs
conda.enabled = true
conda {channels = ['bioconda','defaults']}
profiles{
    standard{
        process.executor = 'local'
        params{
            IDS = "SRR23824612"
            outdir = "../Results"
            krakDB = "KrakenDB"
            samplerate = 0.3
            sampleseed = 5
            server = false
            cutoff = 0.7
            phaDB = "PHAROKKADB"
            DATABASEDIR = "${projectDir}/.."
            DVFPath = "${projectDir}/../DeepVirFinder/dvf.py"
            checkVDB = "checkv-db-v1.5"
            refGenome = ""
        }
    }
    TC{
        params {
            max_memory = 1000.GB
            max_cpus = 50
            max_time = 720.h

            

            IDS = "SRR17297603"
            outdir = "./Results"
            krakDB = "kraken2/kraken2_standard/20220926"
            server = true
            cutoff = 0.7
            phaDB = "/projects/mjolnir1/apps/conda/pharokka-1.2.1/database"
            DATABASEDIR = "/projects/mjolnir1/data/databases"
            DVFPath = "dvf.py"
            iphopDB = "/projects/mjolnir1/data/databases/iphop/20230317/Sept_2021_pub"
            checkVDB = "/projects/mjolnir1/data/databases/checkv/20230320/checkv-db-v1.5"
            virsorterDB = "/projects/mjolnir1/data/databases/virsorter/20230317/"
            refGenome = ""

        }
        singularity {
                enabled = true
                autoMounts = true
                cacheDir = '/maps/projects/mjolnir1/data/cache/nf-core/singularity'
        }

        process.errorStrategy = 'finish'
                
        process.executor = "slurm"
        process.cpus = 4
        process.memory = "4 GB"
        process.time = 24.h

        cleanup = true
            
        executor {
        queueSize = 10
        }


        tower {
            enabled = true
            accessToken = 'eyJ0aWQiOiA3MTg2fS43NTEwNGQ1ZmU1ZTllYzI0ZTI0NDg5OWExNWMwMjgwMjY0NGE3OTEx'
        }

    }
    AC{
        params {
            max_memory = 1000.GB
            max_cpus = 50
            max_time = 720.h

            

            IDS = "SRR23446271"
            outdir = "./Results"
            krakDB = "kraken2/kraken2_standard/20220926"
            server = true
            cutoff = 0.7
            phaDB = "/projects/mjolnir1/apps/conda/pharokka-1.2.1/database"
            DATABASEDIR = "/projects/mjolnir1/data/databases"
            DVFPath = "dvf.py"
            iphopDB = "/projects/mjolnir1/data/databases/iphop/20230317/Sept_2021_pub"
            checkVDB = "/projects/mjolnir1/data/databases/checkv/20230320/checkv-db-v1.5"
            virsorterDB = "/projects/mjolnir1/data/databases/virsorter/20230317/"
            refGenome = ""

        }
        
        
        singularity {
                enabled = true
                autoMounts = true
                cacheDir = '/maps/projects/mjolnir1/data/cache/nf-core/singularity'
        }
        process.errorStrategy = 'finish'

        process.executor = "slurm"
        process.cpus = 4
        process.memory = "4 GB"
        process.time = 2.h
                
        cleanup = true
            
        executor {
        queueSize = 10
        }

        tower {
            enabled = true
            accessToken = 'eyJ0aWQiOiA3MTg5fS4yNmQwY2Q5N2RjZDdlNWI4NWVkNDE4MTUwYjZjNTk5ODQ3OGMxZDcx'
        }

    }


}


process {

    withLabel:bigTask {
        cpus = 16
        memory = 32.GB
        time = 3.h
    }
    withLabel:gpuTask {
        cpus = 16
        memory = 32.GB
        time = 3.h
        
    }
    withLabel:shortTask {
        cpus = 4
        memory = 4.GB
        time = 1.h
    }
}