//Profile config names for nf-core/configs
conda.enabled = true
conda {channels = ['bioconda','defaults']}
profiles{
    standard{
        process.executor = 'local'
        params{
            IDS = "SRR23824612"
            outdir = "../Results"
            krakDB = "KrakenDB"
            samplerate = 0.3
            sampleseed = 5
            server = false
            cutoff = 0.7
            phaDB = "PHAROKKADB"
            DATABASEDIR = "${projectDir}/.."
            DVFPath = "${projectDir}/../DeepVirFinder/dvf.py"

        }
    }
    TC{
        params {
            max_memory = 1000.GB
            max_cpus = 50
            max_time = 720.h

            

            IDS = "ERR1382703"
            outdir = "./Results"
            krakDB = "kraken2/EuPathDB48/2020-13-11"
            server = true
            cutoff = 0.7
            phaDB = "/projects/mjolnir1/apps/conda/pharokka-1.2.1"
            DATABASEDIR = "/projects/mjolnir1/data/databases"
            DVFPath = "dvf.py"

        }
        
        
        singularity {
                enabled = true
                autoMounts = true
                cacheDir = '/maps/projects/mjolnir1/data/cache/nf-core/singularity'
        }
                
        process.executor = "slurm"
        process.cpus = 4
        process.memory = "4 GB"
                
        cleanup = true
            
        executor {
        queueSize = 10
        }

        tower {
            enabled = true
            accessToken = 'eyJ0aWQiOiA3MTg2fS43NTEwNGQ1ZmU1ZTllYzI0ZTI0NDg5OWExNWMwMjgwMjY0NGE3OTEx'
        }

    }
    AC{
        params {
            max_memory = 1000.GB
            max_cpus = 50
            max_time = 720.h

            

            IDS = "SRR23446271"
            outdir = "./Results"
            krakDB = "kraken2/EuPathDB48/2020-13-11"
            server = true
            cutoff = 0.7
            phaDB = "/projects/mjolnir1/apps/conda/pharokka-1.2.1"
            DATABASEDIR = "/projects/mjolnir1/data/databases"
            DVFPath = "dvf.py"

        }
        
        
        singularity {
                enabled = true
                autoMounts = true
                cacheDir = '/maps/projects/mjolnir1/data/cache/nf-core/singularity'
        }
                
        process.executor = "slurm"
        process.cpus = 4
        process.memory = "4 GB"
                
        cleanup = true
            
        executor {
        queueSize = 10
        }

        tower {
            enabled = true
            accessToken = 'eyJ0aWQiOiA3MTg5fS4yNmQwY2Q5N2RjZDdlNWI4NWVkNDE4MTUwYjZjNTk5ODQ3OGMxZDcx'
        }

    }


}


